//SASS variables
$body-bg-color: #efefef;
$primary-bg-color: #3f72ec;
$secondary-bg-color: white;

$title-color: #343434;
$text-color: #9b989b;

$test: 69px;


//CSS variables
:root {
    color-scheme: light;
}

//Dark mode
@media (prefers-color-scheme: dark) {
    //SASS variables 

    //CSS variables
    :root {
        color-scheme: dark;
    }
}

//Maps 
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    laptop: 993px,
    desktop: 1150px,
);

//Mixins

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop-only {
    @media screen and (min-width: map-get($breakpoints, laptop)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin center-flex($gap: 0px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}


//Normalization & typography
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//SASS Styling