//SASS variables
$body-bg-color: #efefef;
$primary-bg-color: #3f72ec;
$btn-bg-color--hover: darken($primary-bg-color, 5%);
$btn-bg-color--active: darken($primary-bg-color, 20%);
$secondary-bg-color: white;
$btn-color: white;
$image-outline-color: white;
$title-color: #363636;
$text-color: #828282;
$index-bg-color: rgb(78, 108, 180);

//CSS variables
:root {
    color-scheme: light;

    --body-bg-color:#{$body-bg-color};
    --primary-bg-color:#{$primary-bg-color};
    --secondary-bg-color:#{$secondary-bg-color};
    --btn-color:#{$btn-color};
    --btn-bg-color--hover:#{$btn-bg-color--hover};
    --btn-bg-color--active:#{$btn-bg-color--active};
    --image-outline-color:#{$image-outline-color};
    --title-color:#{$title-color};
    --text-color:#{$text-color};
    --index-bg-color:#{$index-bg-color};

}

*::-moz-selection {
    background-color: orange;
    color: black;
}

*::selection {
    background-color: orange;
    color: black;
}

//Dark mode
@media (prefers-color-scheme: dark) {
    //SASS variables 
    $body-bg-color: #101010;
    $primary-bg-color: #c08d13;
    $btn-bg-color--hover: lighten($primary-bg-color, 5%);
    $btn-bg-color--active: lighten($primary-bg-color, 20%);
    $secondary-bg-color: black;
    $btn-color: black;
    $image-outline-color: black;
    $title-color: #c9c9c9;
    $text-color: #c7c9c6;
    $index-bg-color: rgb(177, 147, 75);

    //CSS variables
    :root {
        color-scheme: dark;

        --body-bg-color:#{$body-bg-color};
        --primary-bg-color:#{$primary-bg-color};
        --secondary-bg-color:#{$secondary-bg-color};
        --btn-color:#{$btn-color};
        --btn-bg-color--hover:#{$btn-bg-color--hover};
        --btn-bg-color--active:#{$btn-bg-color--active};
        --image-outline-color:#{$image-outline-color};
        --title-color:#{$title-color};
        --text-color:#{$text-color};
        --index-bg-color:#{$index-bg-color};

    }

    *::-moz-selection {
        background-color: blue;
        color: white;
    }

    *::selection {
        background-color: blue;
        color: white;
    }
}

//Maps 
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    laptop: 993px,
    desktop: 1150px,
);

//Mixins

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop-only {
    @media screen and (min-width: map-get($breakpoints, laptop)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin center-flex($gap: 0px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin animation-props ($direction: normal) {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: $direction;
    animation-direction: $direction;
}


//Normalization & typography
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);

    transition:
        background-color 250ms ease-out,
        color 250ms ease-out;

    min-height: 100vh;
    font-family: 'Poppins';
    overflow-x: hidden;
    overflow-y: hidden;

    @include mobile-only {
        overflow-y: auto;
    }
}

button {
    z-index: 3;
    border: none;
    background-color: transparent;
    transition: background-color 150ms ease-out;


    &:hover {
        cursor: pointer;
        background-color: var(--btn-bg-color--hover);
    }

    &:active {
        background-color: var(--btn-bg-color--active);
    }
}

//Keyframes


@-webkit-keyframes slideInLeftToRight {
    from {
        translate: 100% 0;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}


@keyframes slideInLeftToRight {
    from {
        translate: 100% 0;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideInRightToLeft {
    from {
        translate: -100% 0;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes slideInRightToLeft {
    from {
        translate: -100% 0;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

//SASS Styling
.main {
    min-height: 100vh;

    &__cards-index-container {
        min-height: inherit;
        @include center-flex-column(20px);
    }


    &__indexes {
        background-color: var(--secondary-bg-color);
        border-radius: 100vmax;
        min-height: 20px;
        width: 20%;
        @include center-flex(15px);
        position: relative;
    }

    &__card-index {
        background-color: var(--index-bg-color);
        aspect-ratio: 1/1;
        height: 10px;
        border-radius: 50%;
        opacity: 35%;
        overflow: hidden;
    }

    &__buttons {
        position: relative;

        &-button {
            aspect-ratio: 1/1;
            height: 60px;
            background-color: var(--primary-bg-color);
            border-radius: 50%;
            @include center-flex();
            position: absolute;
            top: -250px;


            @include mobile-only {
                aspect-ratio: 1/1;
                height: 30px;
                top: 60px;
            }


            &-left {
                right: 250px;

                @include mobile-only {
                    right: 25px;
                }
            }

            &-right {
                left: 250px;

                @include mobile-only {
                    left: 25px
                }
            }
        }

        &-image {
            aspect-ratio: 1/1;
            height: 60px;

            @include mobile-only {
                aspect-ratio: 1/1;
                height: 30px;
            }

            &-left {
                padding-right: 12%;
            }

            &-right {
                padding-left: 12%;
            }
        }
    }

    &__cards {
        @include center-flex(25px);
        height: 460px;
    }

    &__card {
        height: 460px;
        width: 380px;

        @include mobile-only {
            width: 75%;
        }

        @include center-flex-column();
        overflow: hidden;
    }

    &__uppercard {
        background-color: var(--primary-bg-color);
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 45%;

        @include mobile-only {
            height: 35%;
        }

        @include center-flex-column();
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            aspect-ratio: 1/1;
            height: 56px;
            background-color: var(--primary-bg-color);
            border-bottom-left-radius: 50%;
            z-index: 2;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            aspect-ratio: 1/1;
            height: 56px;
            background-color: var(--secondary-bg-color);
        }

        &-image-container {
            // overflow: hidden;
            margin: 10px;
        }

        &-image {
            aspect-ratio: 1/1;
            height: 160px;

            @include mobile-only {
                height: 100px;
                border: 3px solid var(--image-outline-color);
                padding: 3px;
            }

            -o-object-fit: cover;

            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            border-radius: 50%;
            padding: 4px;
            border: 4px solid var(--image-outline-color);
            transition: border 250ms ease-out;
            ;
        }
    }

    &__lowercard {
        background-color: var(--secondary-bg-color);
        border-radius: 0 0 25px 25px;
        height: 55%;

        @include mobile-only {
            height: 65%;
        }

        @include center-flex-column();
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0%;
            right: 0%;
            aspect-ratio: 1/1;
            height: 56px;
            background-color: var(--secondary-bg-color);
            border-top-right-radius: 50%;
            z-index: 2;

        }

        &::before {
            content: "";
            position: absolute;
            top: 0%;
            right: 0%;
            aspect-ratio: 1/1;
            height: 56px;
            background-color: var(--primary-bg-color);
        }

        &-title {
            color: var(--title-color);
            text-align: center;
            font-size: 22px;

            @include mobile-only {
                padding-top: 5px;
            }
        }

        &-description {
            text-align: center;
            font-size: 14px;
            font-weight: 200;
            padding: 5px 10px;

            @include mobile-only {
                margin-top: 15px;
            }
        }

        &-button {
            margin: 20px 0;
            width: 100px;
            height: 35px;
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
            background-color: var(--primary-bg-color);
            color: var(--btn-color);

        }
    }


}


//CSS classes for JS
.hide {
    // visibility: hidden;
    display: none;
}

.show {
    display: block;
}


.index-active {
    opacity: 100%;
}

.slide-in-left {
    translate: 0 0;
    -webkit-animation-name: slideInRightToLeft;
    animation-name: slideInRightToLeft;
    @include animation-props();

}

.slide-in-right {
    translate: 0 0;
    -webkit-animation-name: slideInLeftToRight;
    animation-name: slideInLeftToRight;
    @include animation-props();

}

.slide-out-left {
    translate: 0 0;
    -webkit-animation-name: slideInRightToLeft;
    animation-name: slideInRightToLeft;
    @include animation-props(reverse);
}

.slide-out-right {
    translate: 0 0;
    -webkit-animation-name: slideInLeftToRight;
    animation-name: slideInLeftToRight;
    @include animation-props(reverse);
}